<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Timings </title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="shortcut icon" href="../../assets/f1_logo.svg" type="image/x-icon" />
    <script type="text/javascript" src="../js/scripts.js"></script>
    <script type="text/javascript" src="../js/livetiming.js"></script>
    <div id="live-timings" class="section"> 
        <h1>Live Timings</h1>
        <table>
            <tr>
                <th>Position</th>
                <th>Driver</th>
                <th>Constructor</th>
                <th>Time</th>
            </tr>
        </table>
</head>

</html>