<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Race schedule</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="shortcut icon" href="../../assets/f1_logo.svg" type="image/x-icon" />
    <script type="text/javascript" src="../js/scripts.js"></script>
    <script type="text/javascript" src="../js/raceshedule.js"></script>



<div id="race-schedule" class="section"> 
    <h1>Race Schedule</h1>
<label for="schedule-year">Select Year:</label>
<select id="schedule-year" onchange="fetchRaceSchedule()">
    <option value="2024" selected>2024</option>
    <option value="2025">2025</option>
    <option value="2023">2023</option>
    <option value="2022">2022</option>
    <option value="2021">2021</option>
    <option value="2020">2020</option>
    <option value="2019">2019</option>
    <option value="2018">2018</option>
    <option value="2017">2017</option>
    <option value="2016">2016</option>
    <option value="2015">2015</option>
    <!-- Add more years as needed -->
</select>
<div id="schedule-data"></div>
</div>
</html>